<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tabletennistournament">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".services.TTTAmplify"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Table Tennis Tournament"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TableTennisTournament"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".modules.login.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.cup.CupActivity"
            android:label="@string/activity_label_ranking"
            android:theme="@style/Theme.TableTennisTournament.NoActionBar" />
        <activity
            android:name=".modules.upcoming.NextFixturesActivity"
            android:label="@string/activity_next_fixtures_title" />
        <activity
            android:name=".modules.upcoming.AddFixtureActivity"
            android:label="@string/label_add_fixture"
            android:parentActivityName=".modules.upcoming.NextFixturesActivity" />
        <activity
            android:name=".modules.upcoming.EditFixtureActivity"
            android:label="@string/activity_label_edit_fixture"
            android:parentActivityName=".modules.upcoming.NextFixturesActivity" />
        <activity
            android:name=".modules.players.PlayersActivity"
            android:label="@string/activity_players_title" />
        <activity
            android:name=".modules.players.AddPlayerActivity"
            android:label="@string/label_new_player"
            android:parentActivityName=".modules.players.PlayersActivity" />
        <activity
            android:name=".modules.players.PlayerProfileActivity"
            android:label="@string/label_player_profile"
            android:parentActivityName=".modules.players.PlayersActivity" />

        <service
            android:name=".services.TTTMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>